# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Node
node_modules/
dist/
build/

# Java
target/
*.class
*.jar
*.war
*.ear

# Env
.env
.env.local
.env.*.local

# Mac/Linux temp
*.swp